<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="/stylesheet/bootstrap.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>

<!-- As a link -->
<div class="container">

  <a class="title" href="/shortURL" >URL Shortener ! </a>
  <img class="main-img" src="/images/image1.png" alt="">
</div>


  {{{body}}}



  <script src="/javascript/bootstrap.bundle.js"></script>
  
</body>

</html>