<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>URL shortener</title>
  <link rel="stylesheet" href="/stylesheet/bootstrap.css">
  <link rel="stylesheet" href="/stylesheet/style.css">
</head>

<body>

<!-- As a link -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="shortURL">Shorten   URL   !  </a>
  </div>
</nav>



  {{{body}}}



  <script src="/javascript/bootstrap.bundle.js"></script>
</body>

</html>