body { 
  background-color:#ffe2be ;
  height: 100%;
  width: 85%;
  margin: 0 auto;
}

.container {
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-img{
  margin-top: 2em;
  max-width: 10rem;
  max-height: 10rem;
}
.title{
  font-size: 30px;
}

#data-panel{
  display: flex;
  justify-content: center;
  
}

#form{
  width: 70%;
}

#input{
  margin-bottom:1.5em;
  
}

#short-btn{
  width: 20em;
  margin-left: 18em;
}

.empty{
  margin-left: 10em;
}

h5{
  margin-left:10em;
  margin-top: 4.5em;
  
}

#btn-copy{
  margin-left:12.5em;
  margin-top: 0.5em;
}