

<nav class="navbar bg-body-tertiary" >
  <div class="container d-flex  flex-column" id="data-panel">
    <form action="/shortURL"  role="search" id="form">
      <input id="input" name="transform" class="form-control me-2" type="search" placeholder="Input URL here ... " aria-label="Search" value="{{fullURL}}">
      <button id="short-btn"class="btn btn-outline-dark" type="submit">Shorten ! </button>
    </form>
  </div>
</nav>